*:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.spin {
  -webkit-animation: spin 800ms linear infinite;
  animation: spin 800ms linear infinite;
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 16px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #242a35;
  border-radius: 100vh;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #181c24;
}

input {
  background-color: transparent;
}
